# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

src/.vs/
src/packages/
src/Mandelbrot/bin/
src/Mandelbrot/obj/
*.DotSettings
*.user
src/Mandelbrot/mandelbrot.cpu.1.png
src/Mandelbrot/mandelbrot.cpu.2.png
